<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


    <context:annotation-config/>
    <tx:annotation-driven proxy-target-class="true"/>



    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc-mysql.properties</value>
            </list>
        </property>
    </bean>

    <!-- 基础运行环境的配置 -->
    <!--<import resource="classpath:api-mcpack.xml"/>-->
    <!-- dao相关服务配置 -->

    <!-- 远程服务配置 -->
    <import resource="classpath:ctx-dal.xml" />
    <import resource="classpath:ctx-sal.xml" />
    <!-- 开放web层服务配置 -->
    <!--<import resource="classpath:ctx-web.xml" />-->

    <!--<import resource="classpath:applicationContext-component.xml"/>-->
    <!--<import resource="classpath:applicationContext-log.xml"/>-->

</beans>
